-- ==============================================================================
-- KHỞI TẠO CƠ SỞ DỮ LIỆU (DATABASE)
-- ==============================================================================

-- 1. Chuyển hướng kết nối ra hệ thống (master) để không bị kẹt phiên làm việc
USE master;
GO

-- 2. Xóa Database cũ nếu đã tồn tại (Clean up)
IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'HomestayDormDB')
BEGIN
    -- Ép ngắt tất cả các kết nối đang mở (đẩy mọi người ra ngoài)
    ALTER DATABASE HomestayDormDB SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    -- Xóa hoàn toàn Database
    DROP DATABASE HomestayDormDB;
END
GO

-- 3. Tạo Database mới 
CREATE DATABASE HomestayDormDB;
GO

USE HomestayDormDB;
GO

-- ==============================================================================
-- PROJECT: HOMESTAY DORM MANAGEMENT SYSTEM
-- ROLE: DATA ENGINEER
-- DESCRIPTION: Khởi tạo CSDL, tối ưu kiểu dữ liệu và thiết lập Ràng buộc toàn vẹn.
-- ==============================================================================

-- 1. BẢNG TÀI KHOẢN (Độc lập - Tạo đầu tiên)
CREATE TABLE TAI_KHOAN (
    TenDangNhap VARCHAR(50) PRIMARY KEY,
    MatKhau VARCHAR(255) NOT NULL, -- Độ dài lớn để lưu chuỗi Hash (Bcrypt/Argon2)
    VaiTro NVARCHAR(50) NOT NULL,
    MoTa NVARCHAR(255),
    -- Ràng buộc: Chỉ cho phép các vai trò hợp lệ trong hệ thống
    CONSTRAINT CHK_VaiTro CHECK (VaiTro IN (N'Admin', N'Sale', N'QuanLy', N'KeToan', N'KhachHang'))
);

-- 2. BẢNG KHÁCH HÀNG (Lưu thông tin & Nhu cầu Khách)
CREATE TABLE KHACH_HANG (
    MaKhachHang VARCHAR(20) PRIMARY KEY,
    TenDangNhap VARCHAR(50), -- Đã bỏ UNIQUE
    CCCD VARCHAR(12) NOT NULL, -- Đã bỏ UNIQUE
    HoTen NVARCHAR(100) NOT NULL,
    Tuoi INT,
    SoLuongNguoi INT DEFAULT 1 CHECK (SoLuongNguoi > 0),
    GioiTinh NVARCHAR(10) CHECK (GioiTinh IN (N'Nam', N'Nữ', N'Khác')),
    KhuVuc NVARCHAR(100),
    LoaiPhong NVARCHAR(50),
    MucGia DECIMAL(12,2) CHECK (MucGia >= 0), -- DECIMAL tối ưu độ chính xác cho Tiền tệ
    ThoiHanThue INT CHECK (ThoiHanThue >= 0), -- Đơn vị: Tháng
    GhiChu NVARCHAR(500),
    MaKhachHangDaiDien VARCHAR(20), -- Self-referencing FK (Đại diện nhóm)
    
    CONSTRAINT FK_KhachHang_TaiKhoan FOREIGN KEY (TenDangNhap) REFERENCES TAI_KHOAN(TenDangNhap) ON DELETE SET NULL,
    CONSTRAINT FK_KhachHang_DaiDien FOREIGN KEY (MaKhachHangDaiDien) REFERENCES KHACH_HANG(MaKhachHang)
);

-- 3. BẢNG NHÂN VIÊN
CREATE TABLE NHAN_VIEN (
    MaNhanVien VARCHAR(20) PRIMARY KEY,
    TenDangNhap VARCHAR(50), -- Đã bỏ UNIQUE
    CCCD VARCHAR(12) NOT NULL, -- Đã bỏ UNIQUE
    HoTen NVARCHAR(100) NOT NULL,
    NgaySinh DATE,
    GioiTinh NVARCHAR(10) CHECK (GioiTinh IN (N'Nam', N'Nữ', N'Khác')),
    Role NVARCHAR(50),
    DiaChi NVARCHAR(255),
    
    CONSTRAINT FK_NhanVien_TaiKhoan FOREIGN KEY (TenDangNhap) REFERENCES TAI_KHOAN(TenDangNhap) ON DELETE SET NULL
);

-- 4. BẢNG PHÒNG (Tài sản cố định)
CREATE TABLE PHONG (
    MaPhong VARCHAR(20) PRIMARY KEY,
    GiaThue DECIMAL(12,2) NOT NULL CHECK (GiaThue >= 0),
    SoNguoiOToiDa INT NOT NULL CHECK (SoNguoiOToiDa > 0),
    KhuVuc NVARCHAR(100),
    TinhTrangThue NVARCHAR(50) DEFAULT N'Trống',
    LoaiPhong NVARCHAR(50),
    SoGiuongConLai INT NOT NULL CHECK (SoGiuongConLai >= 0),
    MucGia DECIMAL(12,2),
    ThoiHanThue INT,
    GhiChu NVARCHAR(255),
    
    -- Ràng buộc: Đảm bảo số giường còn lại không bao giờ vượt quá sức chứa tối đa
    CONSTRAINT CHK_SoGiuongConLai CHECK (SoGiuongConLai <= SoNguoiOToiDa),
    CONSTRAINT CHK_TinhTrangPhong CHECK (TinhTrangThue IN (N'Trống', N'Hết chỗ', N'Đang bảo trì'))
);

-- 5. BẢNG LỊCH XEM PHÒNG
CREATE TABLE LICH_XEM_PHONG (
    MaLichXemPhong VARCHAR(20) PRIMARY KEY,
    MaKhachHang VARCHAR(20) NOT NULL,
    MaNhanVien VARCHAR(20) NOT NULL,
    ThoiGian DATETIME NOT NULL,
    TrangThai NVARCHAR(50) DEFAULT N'Chờ xác nhận',
    GhiChu NVARCHAR(255),
    
    CONSTRAINT FK_LichXem_KhachHang FOREIGN KEY (MaKhachHang) REFERENCES KHACH_HANG(MaKhachHang),
    CONSTRAINT FK_LichXem_NhanVien FOREIGN KEY (MaNhanVien) REFERENCES NHAN_VIEN(MaNhanVien),
    CONSTRAINT CHK_TrangThaiLich CHECK (TrangThai IN (N'Chờ xác nhận', N'Đã xác nhận', N'Đã hoàn thành', N'Đã hủy'))
);

-- 6. BẢNG PHIẾU ĐẶT CỌC
CREATE TABLE PHIEU_DAT_COC (
    MaPhieuDatCoc VARCHAR(20) PRIMARY KEY,
    MaKhachHang VARCHAR(20) NOT NULL,
    MaPhongDuKien VARCHAR(20), -- Dựa theo logic: Cọc có thể gán mã phòng hoặc rỗng
    TienCoc DECIMAL(12,2) NOT NULL CHECK (TienCoc >= 0),
    SoNguoiOToiDa INT,
    GioiTinh NVARCHAR(10),
    KhuVuc NVARCHAR(100),
    TinhTrangThue NVARCHAR(50),
    LoaiPhong NVARCHAR(50),
    ThoiHanThue INT,
    GhiChu NVARCHAR(255),
    -- Bổ sung trường Trạng thái để quản lý Vòng đời phiếu cọc (Theo góp ý SA)
    TrangThai NVARCHAR(50) DEFAULT N'Chờ thanh toán', 
    
    CONSTRAINT FK_DatCoc_KhachHang FOREIGN KEY (MaKhachHang) REFERENCES KHACH_HANG(MaKhachHang),
    CONSTRAINT FK_DatCoc_Phong FOREIGN KEY (MaPhongDuKien) REFERENCES PHONG(MaPhong),
    CONSTRAINT CHK_TrangThaiCoc CHECK (TrangThai IN (N'Chờ thanh toán', N'Đã thanh toán', N'Đã hoàn tiền', N'Đã hủy'))
);

-- 7. BẢNG HỢP ĐỒNG THUÊ
CREATE TABLE HOP_DONG_THUE (
    MaHopDong VARCHAR(20) PRIMARY KEY,
    MaPhieuDatCoc VARCHAR(20), -- Đã bỏ UNIQUE
    MaKhachHang VARCHAR(20) NOT NULL, -- Khách hàng đại diện
    MaPhong VARCHAR(20) NOT NULL,
    SoNguoiOToiDa INT,
    GioiTinh NVARCHAR(10),
    KhuVuc NVARCHAR(100),
    TinhTrangThue NVARCHAR(50),
    LoaiPhong NVARCHAR(50),
    MucGia DECIMAL(12,2) CHECK (MucGia >= 0),
    ThoiHanThue INT CHECK (ThoiHanThue > 0),
    GhiChu NVARCHAR(255),
    -- Bổ sung trường Trạng thái để Backend kiểm soát Hợp đồng
    TrangThai NVARCHAR(50) DEFAULT N'Active',
    
    CONSTRAINT FK_HopDong_DatCoc FOREIGN KEY (MaPhieuDatCoc) REFERENCES PHIEU_DAT_COC(MaPhieuDatCoc),
    CONSTRAINT FK_HopDong_KhachHang FOREIGN KEY (MaKhachHang) REFERENCES KHACH_HANG(MaKhachHang),
    CONSTRAINT FK_HopDong_Phong FOREIGN KEY (MaPhong) REFERENCES PHONG(MaPhong),
    CONSTRAINT CHK_TrangThaiHopDong CHECK (TrangThai IN (N'Active', N'Liquidated', N'Cancelled'))
);

-- 8. BẢNG TRUNG GIAN N-N: HỢP ĐỒNG - THÀNH VIÊN
CREATE TABLE HOP_DONG_THANH_VIEN (
    MaHopDong VARCHAR(20) NOT NULL,
    MaKhachHang VARCHAR(20) NOT NULL,
    DaiDienNhom BIT DEFAULT 0, -- Dùng BIT (0/1) hoặc BOOLEAN cho True/False
    MaPhong VARCHAR(20),
    NgayDonVao DATE NOT NULL,
    NgayDonRa DATE,
    
    -- Xử lý triệt để quan hệ Nhiều-Nhiều bằng Composite Primary Key
    PRIMARY KEY (MaHopDong, MaKhachHang),
    CONSTRAINT FK_HDThanhVien_HopDong FOREIGN KEY (MaHopDong) REFERENCES HOP_DONG_THUE(MaHopDong) ON DELETE CASCADE,
    CONSTRAINT FK_HDThanhVien_KhachHang FOREIGN KEY (MaKhachHang) REFERENCES KHACH_HANG(MaKhachHang),
    -- Ràng buộc logic: Ngày dọn ra phải lớn hơn hoặc bằng ngày dọn vào
    CONSTRAINT CHK_NgayDonRa CHECK (NgayDonRa IS NULL OR NgayDonRa >= NgayDonVao)
);

-- 9. BẢNG GIAO DỊCH TÀI CHÍNH (Sổ cái Kế toán đa năng)
CREATE TABLE GIAO_DICH_TAI_CHINH (
    MaGiaoDich VARCHAR(20) PRIMARY KEY,
    MaKhachHang VARCHAR(20) NOT NULL,
    MaHopDong VARCHAR(20), -- Nullable vì lúc cọc chưa có hợp đồng
    NguoiXuLy VARCHAR(20) NOT NULL, -- Nối với Mã Nhân Viên
    LoaiDongTien NVARCHAR(10) NOT NULL,
    LoaiNghiepVu NVARCHAR(50) NOT NULL,
    SoTien DECIMAL(12,2) NOT NULL CHECK (SoTien > 0),
    HinhThuc NVARCHAR(50) NOT NULL,
    NgayGiaoDich DATETIME DEFAULT CURRENT_TIMESTAMP, -- Ghi nhận Timestamp tự động
    GhiChu NVARCHAR(255),
    
    CONSTRAINT FK_GiaoDich_KhachHang FOREIGN KEY (MaKhachHang) REFERENCES KHACH_HANG(MaKhachHang),
    CONSTRAINT FK_GiaoDich_HopDong FOREIGN KEY (MaHopDong) REFERENCES HOP_DONG_THUE(MaHopDong),
    CONSTRAINT FK_GiaoDich_NhanVien FOREIGN KEY (NguoiXuLy) REFERENCES NHAN_VIEN(MaNhanVien),
    -- Ràng buộc định tuyến dòng tiền
    CONSTRAINT CHK_LoaiDongTien CHECK (LoaiDongTien IN ('IN', 'OUT')),
    CONSTRAINT CHK_LoaiNghiepVu CHECK (LoaiNghiepVu IN (N'DAT_COC', N'TIEN_THUE_DICH_VU', N'THU_PHAT', N'HOAN_COC', N'KHAC')),
    CONSTRAINT CHK_HinhThuc CHECK (HinhThuc IN (N'Tiền mặt', N'Chuyển khoản', N'Quẹt thẻ'))
);

-- 10. BẢNG PHIẾU TRẢ PHÒNG
CREATE TABLE PHIEU_TRA_PHONG (
    MaPhieuTraPhong VARCHAR(20) PRIMARY KEY,
    MaHopDong VARCHAR(20) NOT NULL,
    NgayYeuCau DATE NOT NULL,
    LyDo NVARCHAR(255),
    TrangThai NVARCHAR(50) DEFAULT N'Requested',
    
    CONSTRAINT FK_TraPhong_HopDong FOREIGN KEY (MaHopDong) REFERENCES HOP_DONG_THUE(MaHopDong),
    CONSTRAINT CHK_TrangThaiTraPhong CHECK (TrangThai IN (N'Requested', N'Processing', N'Completed', N'Cancelled'))
);

-- 11. BẢNG BIÊN BẢN BÀN GIAO
CREATE TABLE BIEN_BAN_BAN_GIAO (
    MaBienBan VARCHAR(20) PRIMARY KEY,
    MaHopDong VARCHAR(20) NOT NULL,
    MaNhanVien VARCHAR(20) NOT NULL, -- Lọc bỏ 1 trường Mã nhân viên bị lặp trong Diagram
    MaPhong VARCHAR(20),
    GiaThue DECIMAL(12,2),
    SoNguoiOToiDa INT,
    KhuVuc NVARCHAR(100),
    TinhTrangThue NVARCHAR(50),
    LoaiPhong NVARCHAR(50),
    MucGia DECIMAL(12,2),
    ThoiHanThue INT,
    GhiChu NVARCHAR(255),
    
    CONSTRAINT FK_BienBan_HopDong FOREIGN KEY (MaHopDong) REFERENCES HOP_DONG_THUE(MaHopDong),
    CONSTRAINT FK_BienBan_NhanVien FOREIGN KEY (MaNhanVien) REFERENCES NHAN_VIEN(MaNhanVien)
);

-- 12. BẢNG CHI TIẾT BÀN GIAO TÀI SẢN (Weak Entity / Bảng chi tiết)
CREATE TABLE CHI_TIET_BAN_GIAO (
    MaBienBan VARCHAR(20) NOT NULL,
    TenTaiSan NVARCHAR(100) NOT NULL,
    SoLuong INT NOT NULL CHECK (SoLuong > 0),
    HienTrang NVARCHAR(100) NOT NULL,
    
    -- Composite Primary Key: Sự kết hợp giữa Mã biên bản và Tên tài sản
    PRIMARY KEY (MaBienBan, TenTaiSan),
    -- ON DELETE CASCADE: Nếu Xóa Biên bản, các dòng chi tiết tự động bị xóa theo
    CONSTRAINT FK_ChiTiet_BienBan FOREIGN KEY (MaBienBan) REFERENCES BIEN_BAN_BAN_GIAO(MaBienBan) ON DELETE CASCADE
);